# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\3eme annee\Semestre 1\Enterprise Application Integration\Partiel Camunda\Partiel-Camunda\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
